/*.context-provider {*/
/*	border: 2px dotted red;*/
/*	padding: 1rem;*/
/*}*/

/*.highlight--provider {*/
/*	background-color: #ff000054;*/
/*}*/

/*.xdebug-var-dump > small:first-of-type {*/
/*	display: none;*/
/*}*/

* {
	opacity: 1 !important;
}

.editor-visual-editor__post-title-wrapper {
	background: #e2e2e2;
	margin-top: 0 !important;
}

.editor-visual-editor__post-title-wrapper h1 {
	font-size: 3rem !important;
	text-align: center;
	margin-bottom: 0 !important;
}

/*
acf-block-fields
acf-block-preview
 */
.wp-block-group__inner-container {
	padding: 20px;
	border: 1px dashed #f00;
}

.wp-block .acf-block-fields {
	margin: 10px;
}

.wp-block .acf-block-preview {
	padding: 10px;
	margin: 10px;
	border: 1px dashed #dadada;
}

.wp-block .is-selected:after {
	display: none !important;
}
.wp-block .is-selected .acf-block-fields {
	border: #007cba solid 1px;
}
.wp-block .is-selected .acf-block-preview {
	border: #007cba solid 1px;
}
.wp-block .is-selected .acf-fields > .acf-field.acf-accordion {
	border-color: #007cba;
}


/*.wp-block {*/
/*	border-top: 1px dashed #f00;*/
/*	margin-bottom: 20px;*/
/*}*/